body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #ff6347;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #cd5c5c;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

h2 {
    color: #4b0082;
}

pre {
    background-color: #e6e6fa;
    padding: 15px;
    border-radius: 5px;
}